S3method("print", "premixed")
S3method("predict", "premixed")
S3method("coef", "premixed")
S3method("ranef", "premixed")

export("premixed")
export("complexity")

import("pre")
import("glmertree")
import("lme4")
import("glmnet")

importFrom("stats", "coef", "predict")